<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">
        PhoneFLix
      </h1>
      <p class="lead fw-normal text-white-50 mb-0">The ultimate Electronic
        gallery</p>
    </div>
  </div>
</header>

<section style="background-color: #eee;" class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      {{#each product}}
        <div class="col mb-5">
          <div class="card h-100">
            <img
              src="/product-images/{{this._id}}.jpg"
              class="card-img-top img-fluid img-thumbnail"
              style="width: 100% ; height: 100%"
            />
            <div class="card-body text-center p-4">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text"> (Jade Green, 256 GB) (12 GB RAM)</p>
              <p class="h4">Price:&#8377;{{this.Price}}</p>
              <div
                class="card-footer p-4.pt-0 border-top-0 bg-transparent text-center"
              >
                <a href="#" class="btn btn-outline-dark mt-auto">Add to Cart</a></div>

            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; Your Website 2022
    </p>
  </div>

</footer>