<section>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PhoneFLix</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New Arrival</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Assessories</a>
          </li>
            </ul>
        {{#if user}}
          <div class="dropdown pe-5">
       <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{user.Username}}
        </button>
       <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
           </ul>
          </div>
            {{else}}
          
        <div class=" pe-5 ">
          <a  href="/login"><button
              type="button"
              class="btn btn-success"
            >Login</button></a>
          <a href="/register"><button
              type="button"
              class="btn btn-danger"
            >Sign Up</button></a></div>
             {{/if}}
      </div>
      </div>
    </div>
  </nav>

</section>